<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>card_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,870},{35,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,53}}</string>
				<key>sourceSize</key>
				<string>{35,53}</string>
			</dict>

			<key>card_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,550},{33,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,57}}</string>
				<key>sourceSize</key>
				<string>{33,57}</string>
			</dict>

			<key>card_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,632},{35,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,54}}</string>
				<key>sourceSize</key>
				<string>{35,54}</string>
			</dict>

			<key>card_11_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,633},{82,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,125}}</string>
				<key>sourceSize</key>
				<string>{82,125}</string>
			</dict>

			<key>card_11_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,633},{83,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,127}}</string>
				<key>sourceSize</key>
				<string>{83,127}</string>
			</dict>

			<key>card_11_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,888},{82,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,125}}</string>
				<key>sourceSize</key>
				<string>{82,125}</string>
			</dict>

			<key>card_11_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,505},{84,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,127}}</string>
				<key>sourceSize</key>
				<string>{84,127}</string>
			</dict>

			<key>card_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,814},{35,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,55}}</string>
				<key>sourceSize</key>
				<string>{35,55}</string>
			</dict>

			<key>card_12_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{94,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,127}}</string>
				<key>sourceSize</key>
				<string>{94,127}</string>
			</dict>

			<key>card_12_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,125},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,129}}</string>
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>

			<key>card_12_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{93,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,124}}</string>
				<key>sourceSize</key>
				<string>{93,124}</string>
			</dict>

			<key>card_12_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,804},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,129}}</string>
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>

			<key>card_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,687},{35,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,53}}</string>
				<key>sourceSize</key>
				<string>{35,53}</string>
			</dict>

			<key>card_13_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,761},{82,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,126}}</string>
				<key>sourceSize</key>
				<string>{82,126}</string>
			</dict>

			<key>card_13_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,255},{82,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,128}}</string>
				<key>sourceSize</key>
				<string>{82,128}</string>
			</dict>

			<key>card_13_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,505},{82,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,126}}</string>
				<key>sourceSize</key>
				<string>{82,126}</string>
			</dict>

			<key>card_13_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,0},{79,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,124}}</string>
				<key>sourceSize</key>
				<string>{79,124}</string>
			</dict>

			<key>card_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,440},{35,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,54}}</string>
				<key>sourceSize</key>
				<string>{35,54}</string>
			</dict>

			<key>card_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,759},{37,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,54}}</string>
				<key>sourceSize</key>
				<string>{37,54}</string>
			</dict>

			<key>card_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,924},{35,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,53}}</string>
				<key>sourceSize</key>
				<string>{35,53}</string>
			</dict>

			<key>card_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,495},{35,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,54}}</string>
				<key>sourceSize</key>
				<string>{35,54}</string>
			</dict>

			<key>card_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,384},{35,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,55}}</string>
				<key>sourceSize</key>
				<string>{35,55}</string>
			</dict>

			<key>card_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,925},{35,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,53}}</string>
				<key>sourceSize</key>
				<string>{35,53}</string>
			</dict>

			<key>card_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,870},{35,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,54}}</string>
				<key>sourceSize</key>
				<string>{35,54}</string>
			</dict>

			<key>card_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,814},{35,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,55}}</string>
				<key>sourceSize</key>
				<string>{35,55}</string>
			</dict>

			<key>card_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,201},{140,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,200}}</string>
				<key>sourceSize</key>
				<string>{140,200}</string>
			</dict>

			<key>card_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{140,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,200}}</string>
				<key>sourceSize</key>
				<string>{140,200}</string>
			</dict>

			<key>card_bg_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,603},{140,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,200}}</string>
				<key>sourceSize</key>
				<string>{140,200}</string>
			</dict>

			<key>card_bg_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{140,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,200}}</string>
				<key>sourceSize</key>
				<string>{140,200}</string>
			</dict>

			<key>card_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,125},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>card_bich_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,934},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,31}}</string>
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>

			<key>card_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,384},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,78}}</string>
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>

			<key>card_co_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,463},{28,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,30}}</string>
				<key>sourceSize</key>
				<string>{28,30}</string>
			</dict>

			<key>card_joker.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,125},{14,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,116}}</string>
				<key>sourceSize</key>
				<string>{14,116}</string>
			</dict>

			<key>card_joker_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,380},{87,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,124}}</string>
				<key>sourceSize</key>
				<string>{87,124}</string>
			</dict>

			<key>card_joker_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,255},{87,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,124}}</string>
				<key>sourceSize</key>
				<string>{87,124}</string>
			</dict>

			<key>card_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,934},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,79}}</string>
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>

			<key>card_ro_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,761},{30,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,31}}</string>
				<key>sourceSize</key>
				<string>{30,31}</string>
			</dict>

			<key>card_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,934},{78,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,77}}</string>
				<key>sourceSize</key>
				<string>{78,77}</string>
			</dict>

			<key>card_tep_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,966},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,31}}</string>
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>card.png</string>
			</dict>
		</dict>
</plist>